* {
    /* background-color: yellowgreen; */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main {
    margin: 14px;
}

.main #head_tag {
    display: block;
    font-size: 1.5em;
    /* margin: 12px 0px 100px 3px; */
    /* margin-right: 50px; */
    width: max-content;
    border: 4px soild white;
    position: relative;
    top: 12px;
    margin: auto;
}

.main h1 #fec_span1 {
    font-size: 20px;
}

.main .fec {
    display: flex;
}

.form {
    width: 335px;
    height: 400px;
    /* margin: 28px; */
    margin-top: 44px;
    padding-bottom: 18px;
}

.login {
    width: 230px;
    height: 42px;
    font: 14px
}

.lav {
    font-size: 25px;
}

.form p a span {
    margin-left: 40px;
}

.form p {
    font-size: 20px;
    letter-spacing: 1px;
    margin-right: 8px;
    margin-bottom: auto;
}
#ak{
    font-size: 0.5rem;
}
